@model MyApp.Models.Game
@{
}
<html>
	<head>
		<title>NumberGuessingGame</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<h1 class="game-title">Number Guessing Game</h1>
		@if (!string.IsNullOrEmpty(Model.Message))
		{
			<div class="result-message" style="color: orange; margin-top: 100px;">
				@Model.Message
			</div>
		}
		<form asp-action="Game" method="post">
			<input type="hidden" name="CorrectNumber" value="@Model.CorrectNumber" />
			<div class="center-container">
				@if (Model.Numbers != null)
				{
					@foreach (var number in Model.Numbers)
					{
						<div>
							<button class="number-button" type="submit" name="selectedNumber" value="@number">@number</button>
						</div>
					}
				}
			</div>
		</form>
	</body>
</html>
