* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: antiquewhite;
}

.center-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    justify-items: center;
    height: 100%; 
    width: 100%;
    margin-top: 200px;
    gap: 20px;
}

.game-title, .result-message {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
    color: seagreen;
}

.number-button {
    color: white;
    background-color: darkseagreen;
    border-radius: 10px;
    width: 250px;
    height: 125px;
    font-size: 32px;
    border-width: medium;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
}

.number-button:hover {
    background-color: darkslategrey;
}